[submodule "repos/Ludum-Dare-33"]
	path = repos/Ludum-Dare-33
	url = https://github.com/aucguy/Ludum-Dare-33
[submodule "repos/Ludum-Dare-35"]
	path = repos/Ludum-Dare-35
	url = https://github.com/aucguy/Ludum-Dare-35
[submodule "repos/Ludum-Dare-36"]
	path = repos/Ludum-Dare-36
	url = https://github.com/aucguy/Ludum-Dare-36
[submodule "repos/Ludum-Dare-37"]
	path = repos/Ludum-Dare-37
	url = https://github.com/aucguy/Ludum-Dare-37
[submodule "repos/Ludum-Dare-38"]
	path = repos/Ludum-Dare-38
	url = https://github.com/aucguy/Ludum-Dare-38
[submodule "repos/Ludum-Dare-42"]
	path = repos/Ludum-Dare-42
	url = https://github.com/aucguy/Ludum-Dare-42.git
