{% comment %} layout for all pages {% endcomment %}
<!DOCTYPE html>
<html>
<head>
	<title>
		{% if include.title %}
			{{ include.title }}
		{% else %}
			{{ page.title }}
		{% endif %}
	</title>
	{% include js_utils.html %}
	<script>
  	{% comment %} per-page scripts {% endcomment %} 
	</script>
	<script src="/scripts/tab.js"></script>
	{{ scripts }}
	<script>base.init()</script>
	
	<style>
	#content
	{
		background: white;
		position: absolute;
		border: 5px groove gray;
		left: 10%;
		width: 80%
	}
	#tabs
	{
		position:relative;
		left:7%;
		z-index:3
	}
	</style>
</head>
<body background="/assets/background.svg">
	<div id="content">
		{% comment %} banner at top of page {% endcomment %}
		<div style="text-align:center">
			<img src="/assets/title.svg" alt="Aucguy's Website"></img>
		</div>
		
		{% comment %} the tabs {% endcomment %}
		<table id="tabs">
			<tr id="tabsrow">
				{% comment %}
					The variables are assigned prior to being passed in since include has limited syntax
				{% endcomment %}
				
				{% for tab in site.tabs.items %}
					{% assign tabname = tab[0] %}
					{% assign link = tab[1].link %}
					{% assign items = tab[1].items %}
					{% include theme/tab.html name=tabname link=link items=items %}
				{% endfor %}
			</tr>
		</table>
		
		{% comment %} actual content {% endcomment %}
		<div class="midsection">
			{{ include.midsection }}
		</div>
	</div>
</body>
</html>