{% comment %} page layout for feed pages. These view posts {% endcomment %}
{% get_paginate main 3 1 %}

{{ include.section_header }}

{% capture midsection %}
	<div id="posts">
		{% include paginate.html paginator=page.paginator %}
	</div>
	<p></p>
	<div id="loadButton" style="display:none;position:relative;left:10%;margin:5px">
		<button type="button" onclick="posts.loadPosts()">load more posts</button>
	</div>
	<p></p>
{% endcapture %}

{% comment %} custom scripts {% endcomment %}
{% capture scripts %}
	{{ include.scripts }}
	<script src="scripts/posts.js"></script>
{% endcapture %}

{% include theme/theme.html midsection=midsection scripts=scripts %}