<% function content(__append) { %>
    
<%- lib.markdown(`
# Spirits of the Forest

This is my entry for Ludum Dare 55 compo.

I over-scoped and made a game that was too complicated, but here it is anyway.

# Description

The game is a turn based strategy game that consists of four levels. Spirits
can inhabit trees. You control the red, green and white spirits while the
computer controls the yellow spirits. Your spirits will attack the computer's
and vice versia. Once a spirit loses enough health it will die. You may spawn
(summon) your own spirits into uninhabited trees.

Spawning spirits and going to the next level costs mana. Having white spirits
in elder trees (i.e. the bigger ones with a white outline) will give you mana.

Additionally, darkness expands over time and will hurt your spirits.

# Controls

To spawn a spirit click a spirit in the HUD and then click a tree to place it.
The buttons \`A\` (archer) selects the red spirit, \`M\` (mage) selects the green
spirit and \`E\` (elder) selects the white spirit.

To go onto the next turn press the \`TURN\` button or press \`Z\`.

To go onto the next level press the \`LEVEL\` button.

\`ESC\` pauses the game and allows you to go back to the main menu.

# Abilities & Costs

Red spirits attack more frequently and at only one enemy at a time. They cost
\`5\` mana.

Green spirits attack less frequently and at multiple enemies at a time. They
cost \`10\` mana.

White spirits do not attack, but gain mana when placed in elder trees. They cost
\`30\` mana.

Moving onto the next level will require you to have all \`300\` of your mana.

## Instructions

* [Web](https://aucguy.itch.io/spirits-of-the-forest)
* [Windows](https://aucguy.itch.io/spirits-of-the-forest)
* [Source](https://github.com/aucguy/Ludum-Dare-55)
`) %>
<% } %>

<%- await lib.include('content.html', { content, title: 'Ludum Dare 55 - ???' }) %>