<%# layout for all pages %>
<!DOCTYPE html>
<html>
<head>
	<title>
		<%- args.title %>
	</title>
	<%- lib.include('js_utils.html') %>
	<script>
  	<%# per-page scripts %> 
	</script>
	<script src="/script.js"></script>
	
	<style>
	#content
	{
		background: white;
		position: absolute;
		border: 5px groove gray;
		left: 10%;
		width: 80%
	}
	#tabs
	{
		position:relative;
		left:7%;
		z-index:3
	}
	</style>
</head>
<body background="/assets/background.svg">
	<div id="content">
		<%# banner at top of page %>
		<div style="text-align:center">
			<img src="/assets/title.svg" alt="Aucguy's Website"></img>
		</div>
		
		<%# the tabs %>
		<table id="tabs">
			<tr id="tabsrow">
				<% for(var tab of site.tabs.items) { %>
					<%- lib.include('theme/tab.html', tab) %>
				<% } %>
			</tr>
		</table>
		
		<%# actual content %>
		<div class="midsection">
			<%- args.midsection(__append) %>
		</div>
	</div>
</body>
</html>