<%# page layout for feed pages. These view posts %>
<% var midsection = function(__append) { %>
	<div id="posts">
		<%- lib.includePage('public/paginates/paginate0.html') %>
	</div>
	<p></p>
	<div id="loadButton" style="display:none;position:relative;left:10%;margin:5px">
		<button type="button" onclick="posts.loadPosts()">load more posts</button>
	</div>
	<p></p>
<% } %>

<% function head(__append) { %>
	<meta property="self:totalPages" content="<%- lib.readConfig('build/paginate.json').totalPages%>">
<% } %>

<%- lib.include('theme/theme.html', { title: args.title, midsection, head }) %>