<%# page layout for feed pages. These view posts %>
<% var midsection = function(__append) { %>
	<div id="posts">
		<%- lib.includePage('public/paginates/paginate0.html') %>
	</div>
	<p></p>
	<div id="loadButton" style="display:none;position:relative;left:10%;margin:5px">
		<button type="button" onclick="posts.loadPosts()">load more posts</button>
	</div>
	<p></p>
<% } %>

<%# custom scripts %>
<% var scripts = function(__append) { %>
	<% if(args.scripts) { %>
		<% args.scripts(__append) %>
	<% } %>
	<script src="scripts/posts.js"></script>
<% } %>

<%- lib.include('theme/theme.html', { title: args.title, midsection, scripts }) %>