<%# layout for all pages %>
<!DOCTYPE html>
<html>
<head>
	<title>
		<%- args.title %>
	</title>
	<script src="/script.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/style.css">
	<% if(args.head) { %>
		<%- args.head(__append) %>
	<% } %>
</head>
<body>
	<div id="content">
		<%# banner at top of page %>
		<h1 class="titleText">
			Aucguy's Website
		</h1>
		
		<%# the tabs %>
		<div id="tabs">
			<% for(var tab of site.tabs.items) { %>
				<div class="tab" id="tab-<%- tab.name %>">
					<a href="<%- tab.link %>">
						<%- tab.name %>
					</a>
					<% if(tab.items) { %>
						<div class="tabList" id="tabList-<%- tab.name %>">		
							<% for(var item of tab.items) { %>
								<a href="<%- item.link %>">
									<div class="listItem">
										<%- item.name %>
									</div>
								</a>
							<% } %>
						</div>
					<% } %>
				</div>
			<% } %>
		</div>
		
		<%# actual content %>
		<div class="midsection">
			<%- args.midsection(__append) %>
		</div>
	</div>
</body>
</html>