body
{
	background-color: darkblue
}

#content
{
	background: #dbdbdb;
	position: absolute;
	border: 5px solid black;
	border-radius: 5px;
	left: 10%;
	width: 80%
}

#tabs
{
	position: relative;
	left: 7%;
	z-index: 3
}

.tab
{
	display: inline-block;
	color: white;
	background: darkgray;
	padding: 5px;
	border-radius: 5px;
}

.tabLink
{
	color: black
}

.tabLink:link
{
    text-decoration: none;
}

.tabLink:visited
{
    text-decoration: none;
}

.tabLink:hover
{
    text-decoration: underline;
}

.tabLink:active
{
    text-decoration: underline;
}

.tabList
{
	background: black;
	display: none;
	position: absolute;
	margin: 5px -5px;
	border-radius: 5px
}

.listItem
{
	display: block;
	color: black;
	background: darkgray;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}

.loadButton
{
	display: none;
	margin: 0px 3%;
	background: darkgray;
	justify-content: center;
	border-radius: 5px;
	border: 3px solid gray;
	font-size: 125%
}

.postMain
{
	margin: 0px 3%;
	border: 3px solid gray;
	border-radius: 5px;
	background: white;
}

.postDiv
{
	line-height: 1%
}

.postTitle
{
	text-indent: 1%
}

.postDate
{
	text-indent: 5%
}

.postContent
{
	margin: 0px 1%;
	text-indent: 3%
}

.standalone
{
	position:relative;
	left:2%
}

.wavedemo
{
	border: none;
	width: 100%;
	height: 530px
}

.titleText
{
	text-align: center
}

<% for(var tab of site.tabs.items) { %>
	<% if(tab.items) { %>
		#tab-<%- tab.name %>:hover #tabList-<%- tab.name %>
		{
			display: block
		}
	<% } %>
<% } %>