<% function midsection(__append) { %>
<div style="position:relative;left:2%">
<%- lib.markdown(`
This is a continuation/update of sijobe\'s spc mod.

#Installation

1. install forge
2. download the mod jar (in the downloads section)
3. put the jar in the mods folder  
	a) if you\'re on windows open the file explorer  
	b) type in \"%appdata%\" in the top box  
	c) go into the \"mods\" folder  
	d) drag or copy the mod jar into the mods folder

#Downloads

* [5.4-1.7.10](/downloads/spc/spc-5.4-1.7.10.jar)
* [5.3-1.7.10](/downloads/spc/spc-5.3-1.7.10.jar)
* [5.2-1.7.10](/downloads/spc/spc-5.2-1.7.10.jar)
* [5.1-1.7.10](/downloads/spc/spc-5.1-1.7.10.jar)
* [5.0-1.7.2](/downloads/spc/spc-5.0-1.7.2.jar)
`) %>
</div>
<% } %>

<%- lib.include('theme/theme.html', { midsection, title: 'Single Player Commands' }) %>